*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #ccc;
}

/* NAVBAR */

.navbar{
    padding: 1rem;
    background-color: #222;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    height: 60px;
}

/* .hamburger-menu{
    background-color: red;
    height: 50px;
    width: 50px;

    position: relative;
    cursor: pointer;
    padding: 1rem;
}

.ham-bar{
    width: 70%;
    height: 4px;
    background-color: white;
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform .6s, opacity .8s, top .6s;
}

.bar-top{
    top: 25%;
}

.bar-bot{
    top: 75%;
}

.hamburger-menu.active .bar-top{
    transform: translate(-50%, -50%) rotate(-315deg);
    top: 50%;
}

.hamburger-menu.active .bar-mid{
    opacity: 0;
}

.hamburger-menu.active .bar-bot{
    transform: translate(-50%, -50%) rotate(-225deg);
    top: 50%;
} */



/* ITEM CARD */
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    height: fit-content;
    border: 2px solid black;
    padding: 10px;
}

.card--button-customise{
    width: 220px;
    height: 30px;
    margin-top: 10px;
}

.card--button-counter{
    display: flex;
    width: 200px; 
    height: 30px;
    margin-top: 10px;
    padding-inline: 10px;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
}

.card--button-add{
    width: 220px;
    height: 30px;
    margin-top: 10px;
}